
		p.exl {
			max-width: 300px;
		}
		body {
			background-color: #E2EAF2;

		}

		div.container {
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}


		.nav{
			font-family: "Helvetica Bold", Arial, sans-serif;
    		list-style:none;
    		margin:0;
    		padding:0;
    		text-align:center;
		}
		.nav li{
			font-family: "Helvetica", Arial, sans-serif;
    		display:inline;
		}
		.nav a{
			font-family: "Helvetica", Arial, sans-serif;
    		display:inline-block;
    		padding:10px;
		}

		article {
			width: 40%;
			margin-left: auto;
			margin-right: auto;
		}

		#button {
			background: purple;
			border: none;
			border-radius: 5px;
			padding: 10px;
			color: white;
			font-size: 16px;
			transition-duration: .5s;
			margin-top: 15px;
		}

		#button:hover {
			background: red;
			border: 1px solid green;
			color: black;
			cursor: pointer;
		}

		#after_submit {
			visibility: hidden;
			margin-left: auto;
			margin-right: auto;
			background: #d2def2;
			padding: 10px 20px 10px 20px;
			width: 800px;
			border-radius: 20px;
		}

		#quiz {
			margin-left: auto;
			margin-right: auto;
			background: #F8C1B8;
			padding: 10px 20px 10px 20px;
			width: 900px;
			border-radius: 20px;
			align-items: center;
			
		}

		.container {
    		border-radius: 5px;
   			background-color: #f2f2f2;
    		padding: 20px;
    	}


		.messageBox {
			margin-left: auto;
			margin-right: auto;
			background: #d2def2;
			padding: 10px 20px 10px 20px;
			width: 800px;
			border-radius: 20px;
			align-items: center;
		}

		input[type=text], select, textarea {
		    width: 100%;
		    padding: 12px;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		    margin-top: 6px;
		    margin-bottom: 16px;
		    resize: vertical;
		}

		.map {
			margin-left: auto;
			margin-right: auto;
			background: #d2def2;
			padding: 10px 20px 10px 20px;
			width: 800px;
			border-radius: 20px;
			align-items: center;
		}


	
